# ================================
# macOS
# ================================
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# External drives
.Spotlight-V100
.Trashes

# ================================
# Xcode
# ================================
# Build and intermediate files
build/
DerivedData/
Build/
*.hmap

# User-specific Xcode settings
xcuserdata/
*.xcuserstate

# Xcode workspace settings
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# SwiftPM dependencies
.swiftpm/
Package.resolved

# iOS
# Device support
iPhoneOSSupport/
DeviceSupport/

# App files
GoogleService-Info.plist
BikeParking/GoogleService-Info.plist


# Crash logs
*.crash
*.ipa
*.dSYM
*.dSYMs/

# Simulator files
Library/Developer/CoreSimulator/
